body{
    margin: 0px ;
    padding: 0px ;
}

#header{
    width: 100%;
    height: 50px;
    margin-top: 0px;
    border: 1px solid gray;
    background-color: #ffffff;
    padding: 0px;
    box-shadow: 2px 0px 2px gray;
    position: ;
    
}

.navbar li{ 
     width: 8%;
     height: 20px;
     background-color: white;
     display: inline;
     padding: 14px 0.5% ;

}
li a{
    text-decoration: none;
    color: gray;
}
.fa{
    
    color: gray;
    font-size: 30px;
}

.navbar li:hover{
    border-bottom: 5px solid darkblue ;
}
.twitter-icon{
    position: absolute;
    left: 45%;
    top: 10px;
    font-size: 28px;
}
.fa-twitter{
    color: #1DA1F2;
}
#search{
    position: absolute;
    left: 60%;
    top : 8px;
    width: 16%;
    height: 22px;
    padding: 5px 1%;
    border: 1px solid lightgray;
    border-radius: 15px 15px;
    background-color: whitesmoke; 
    background-image: url();
}
#nav-user-img{
    position: absolute;
    left: 80%;
    top : 8px;
    width: 4%;
    height: 35px;
    border: 1px solid lightgray;
    border-radius: 8px 8px;
}
.tweet-btn{
    position: absolute;
    left: 86%;
    top : 8px;
    background-color: darkblue;
    color: white;
    width: 3%;
    height: 20px;
    padding: 8px 2%;
    border-radius: 5px 5px;
}



/*  Main Body   */
#mainBody{
    width: 100%;
    padding-top: 10px;
    background-color: #F5F8FA;
}
/*  left side Body   */


#left-box{
    width: 25%;
    height: 2000px;
    background-color: #F5F8FA;
    float: left;
}
.profile{
    width: 90%;
    height: 200px;
    background-color: white;
    float: right;
    border: 1px solid #E1E8ED;;
    
    border-radius: 5px 5px;
}
.profile-blue{
    position: relative;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100px;
    background-color: blue;
    border-top-left-radius: 5px 5px;
    border-top-right-radius: 5px 5px;
    
}
.profile-img{
    width: 25%;
    height: 70px;
    position: relative;
    top: 70px;
    left: 10px;
    border: 2px solid #ffffff;
    border-radius: 5px 5px;
}
.name{
    position: relative;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.8em;  
}
.profile-rate{
    width: 30%;
    height: 40px; 
    float: left;
    margin-left: 3%;
    color: gray;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.6em; 
}
.profile-rate b{
    color: blue;
    font-size: 200%;
}


/*  left side group div   */
.group-box{
    width: 80%;
    height: 450px;
    background-color: white;
    float: right;
    border: 1px solid #E1E8ED;
    border-radius: 5px 5px;
    margin-top: 16px;
    padding: 10px 5%;
   
}
.group-trend{
    font-family:  Verdana, Geneva, Tahoma, sans-serif;   
}
.group-trend a{
    text-decoration: none;
    color: blue;
    font-size: 0.8em;
}
.trend {
    color: gray;
    font-weight: bold;   
}
.group-link{
    width: 100%;
    height: 40px;
    margin: 4px 0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 0.8em;
}
.group-link a{
    text-decoration: none;
    color: #0084C4;
    font-weight: bold;
}
.group-link p{
    margin-top: 0px;
    color: #A599A6;
    
}

/*  center side Body   */
#center-box{
    width: 50%;
    height: 2000px;
    background-color: #F5F8FA;
    float: left;
    
}
.center-box-container{
    margin: 0px auto;
    width: 97%;
}
.post-box{
    height: 55px;
    background-color: #E5F2F7;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding: 2px 0% ;
    border: 1px solid gray;
}
#post-user-img{
    width: 6%;
    height: 30px;
    margin-left: 2%;
    border: 1px solid lightgray;
    border-radius: 5px 5px;
    position: relative;
    top: 12px;
}
#post-field{
    width: 87%;
    height: 30px;
    padding: 2px 1%;
    border: 1px solid lightslategray;
    border-radius: 3px 3px;
}
.view-new-tweet{
    width:20%;
    background: red;
    margin: 0px auto;
    height: 20px;
    padding: 8px 40%;;
    
}
/*  right side Body   */
#right-box{
    width: 25%;
   height: 2000px;
    background-color: #F5F8FA;
    float: left;
}
.follow-box{
    width: 80%;
    height: 210px;
    background-color: white;
    float: left;
    border: 1px solid #E1E8ED;
    border-top-left-radius: 5px 5px;
    border-top-right-radius: 5px 5px;
    padding: 10px 5%;
}
.follow{
    color: #66757F; 
    font-size: 1em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.who-follow a{
    color: #8784B4;
    text-decoration: none;
    font-size: .8em;
}
.follower-user{
    width: 100%;
    height: 50px;
    margin-top: 12px;
    color: #BFA8AB;
}
.follower-user img{
    vertical-align: top;
}
.follower-user a:link{
    text-decoration: none;
    color: black;
}
.follower-user a:hover{
    color: #0084B4;
    text-decoration: underline;
}
.follower-user img{
    border-radius: 5px 5px;
}
.follow-button{
    width: 10%;
    height: 30px;
    padding: 5px 7%;
    background: #F6F9FB;
    color: #292F33;
    border: 1px solid #E1E8ED;
    border-radius: 5px 5px;
    position: relative;
    top: -20px;
    left: 23%;  
}

.fa-user{
    margin-right: 5px;
    color: #1DA1F2;
}