body{
    margin: 0px ;
    padding: 0px ;
    background-color: #F5F8FA;
}

#header{
    width: 100%;
    height: 50px;
    margin-top: 0px;
    border: 1px solid gray;
    background-color: #ffffff;
    padding: 0px;
    box-shadow: 2px 0px 2px gray;
    position: ;
    
}

.navbar li{ 
     width: 8%;
     height: 20px;
     background-color: white;
     display: inline;
     padding: 14px 0.5% ;

}
li a{
    text-decoration: none;
    color: gray;
}
.fa{
    color: gray;
    font-size: 30px;
}
.navbar a:hover{
    color: #0084B4;
}
.navbar li:hover{
    border-bottom: 5px solid #0084B4 ;
}
.twitter-icon{
    position: absolute;
    left: 45%;
    top: 10px;
    font-size: 28px;
}
.fa-twitter{
    color: #1DA1F2;
}
#search{
    position: absolute;
    left: 60%;
    top : 8px;
    width: 16%;
    height: 22px;
    padding: 5px 1%;
    border: 1px solid lightgray;
    border-radius: 15px 15px;
    background-color: whitesmoke; 
    background-image: url();
}
#nav-user-img{
    position: absolute;
    left: 80%;
    top : 8px;
    width: 4%;
    height: 35px;
    border: 1px solid lightgray;
    border-radius: 8px 8px;
}
.tweet-btn{
    position: absolute;
    left: 86%;
    top : 8px;
    background-color: darkblue;
    color: white;
    width: 3%;
    height: 20px;
    padding: 8px 2%;
    border-radius: 5px 5px;
}



/*  Main Body   */
#mainBody{
    width: 100%;
    padding-top: 10px;
    background-color: #F5F8FA;
}
/*  left side Body   */


#left-box{
    width: 25%;
    height: 2000px;
    background-color: #F5F8FA;
    float: left;
}
.profile{
    width: 90%;
    height: 200px;
    background-color: white;
    float: right;
    border: 1px solid #E1E8ED;;
    
    border-radius: 5px 5px;
}
.profile-blue{
    position: relative;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100px;
    background-color: blue;
    border-top-left-radius: 5px 5px;
    border-top-right-radius: 5px 5px;
    
}
.profile-img{
    width: 25%;
    height: 70px;
    position: relative;
    top: 70px;
    left: 10px;
    border: 2px solid #ffffff;
    border-radius: 5px 5px;
}
.name{
    position: relative;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.8em;  
}
.profile-rate{
    width: 30%;
    height: 40px; 
    float: left;
    margin-left: 3%;
    color: gray;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.6em; 
}
.profile-rate b{
    color: blue;
    font-size: 200%;
}


/*  left side group div   */
.group-box{
    width: 80%;
    height: 450px;
    background-color: white;
    float: right;
    border: 1px solid #E1E8ED;
    border-radius: 5px 5px;
    margin-top: 16px;
    padding: 10px 5%;
   
}
.group-trend{
    font-family:  Verdana, Geneva, Tahoma, sans-serif;   
}
.group-trend a{
    text-decoration: none;
    color: blue;
    font-size: 0.8em;
}
.trend {
    color: gray;
    font-weight: bold;   
}
.group-link{
    width: 100%;
    height: 40px;
    margin: 4px 0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 0.8em;
}
.group-link a{
    text-decoration: none;
    color: #0084C4;
    font-weight: bold;
}
.group-link p{
    margin-top: 0px;
    color: #A599A6;
    
}



/*  center side Body   */
#center-box{
    width: 50%;
    height: 2000px;
    background-color: #F5F8FA;
    float: left;
    
}
.center-box-container{
    margin: 0px auto;
    width: 97%;
}
.post-box{
    height: 55px;
    background-color:#E5F2F7 ;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding: 2px 0% ;
    border: 1px solid #E1E8ED;
}
#post-user-img{
    width: 6%;
    height: 30px;
    margin-left: 2%;
    border: 1px solid lightgray;
    border-radius: 5px 5px;
    position: relative;
    top: 12px;
}
#post-field{
    width: 87%;
    height: 30px;
    padding: 2px 1%;
    border: 1px solid #BFE0EC;
    border-radius: 3px 3px;
}
.view-new-tweet{
    width:20%;
    font-family: Arial, Helvetica, sans-serif;
    color: #0084B4;
    font-size: 90%;
    background-color: #F5F8FA;
    border: 1px solid #E1E8ED;
    margin: 0px auto;
    height: 20px;
    padding: 8px 40%;;
    
}

.post{
    width: 96%;
    height: 500px;
    background-color: white;
    float: left;
    border: 1px solid #E1E8ED;
    padding: 10px 2%;
}
.post:hover{
    background-color: #F5F8FA;
}
.retweeted{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 90%; 
}
.retweeted span{
    color: #8899A6;
}
.retweeted a{
    text-decoration: none;   
}
.retweeted a:hover{
    text-decoration: underline;
    color: #008FC6;
}
.fa-retweet{
    color: #49CF86;
    margin: 0px 1% 0px 5%;;
}
.fa-heart{
    color: red;
}

.post-identify{
    width: 100%;
    margin-top: 5px;
    font-family: Arial, Helvetica, sans-serif;
}
.post-identify img{
    width: 50px;
    height: 50px;
    border-radius: 5px 5px;
    vertical-align: text-top;
}
.user-name-link:link{
     font-weight: bold;
     color: #574239;
     text-decoration: none;   
}
.user-name-link:hover{
     color: #0084B4; 
    text-decoration:  underline;
}
.user-contact{
    color: #9A99AE;
    font-size: 80%;
}
.user-contact a:link{
    color: #9A99AE;
    text-decoration: none;
}
.user-contact a:hover{
    color: #0084B4; 
    text-decoration:  underline;
}
.about-poster{
    position: relative;
    top: -32px;
    left: 55px;
}
.user-name{
    font-size: 95%;
    margin: 5px 0px;
}
.user-link{
    font-size: 80%;
}
.user-link fa-user{
    color: #9A99AE;
}
.user-link a:link{ 
    color: #9A99AE;
    text-decoration: none;
}
.user-link a:hover{
    color: #0084B4; 
    text-decoration:  underline;

}

.post-images{
    width: 90%;
    height: 370px;
    margin-top: -20px;
    margin-left: 10%;
}
.post-images img{
    width: 100%;
    height: 370px;
    border-radius:  5px 5px;
}
.post-footer{
    width: 90%;
    height: 20px;
    padding: 10px 0px;
    margin-left: 10%;
    margin-top: 5px;
}
.post-footer i{
    color: #8899A6;
    margin-right: 30px;
}
.post-footer .fa-reply:hover{
    color: #0084C4;
}
.post-footer  .fa-retweet:hover{
    color: green;
}
.post-footer .fa-heart:hover{
    color: red;
}
/*  right side Body   */
#right-box{
    width: 25%;
   height: 2000px;
    background-color: #F5F8FA;
    float: left;
}
.follow-box{
    width: 80%;
    height: 210px;
    background-color: white;
    float: left;
    border: 1px solid #E1E8ED;
    border-top-left-radius: 5px 5px;
    border-top-right-radius: 5px 5px;
    padding: 10px 5%;
}
.follow{
    color: #66757F; 
    font-size: 1em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.who-follow a{
    color: #8784B4;
    text-decoration: none;
    font-size: .8em;
}
.follower-user{
    width: 100%;
    height: 50px;
    margin-top: 12px;
    color: #BFA8AB;
}
.follower-user img{
    vertical-align: top;
}
.follower-user a:link{
    text-decoration: none;
    color: black;
    margin-left: 2%;
}
.follower-user a:hover{
    color: #0084B4;
    text-decoration: underline;
}
.follower-user img{
    border-radius: 5px 5px;
}
.follow-button{
    width: 25%;
    height: 18px;
    padding: 5px 5%;
    background: #F6F9FB;
    color: #292F33;
    border: 1px solid #E1E8ED;
    border-radius: 5px 5px;
    font-size: 100%;
    position: relative;
    top: -27px;
    left: 23%;  
}
.fa-user{
    margin-right: 5px;
    color: #1DA1F2;
}



/*  gmail side box   */
.find-gmail{
    width: 80%;
    height: 80px;
    background-color: #F5F8FA;
    float: left;
    border: 1px solid #E1E8ED;
    border-bottom-left-radius: 5px 5px;
    border-bottom-right-radius: 5px 5px;
    padding: 10px 5%;
}
.gmail-contact{
    padding: 5px;
    padding-bottom: 0px;
    margin-bottom: 5px;
    border-bottom: 1px solid #E1E8ED;
}
.gmail-image img{
    vertical-align: text-top;
    width: 15%;
    height: 35px;
    border-radius: 3px 3px;
    border: 1px solid #E1E8ED;
}
.find-people-text{
    color: black;
    font-weight: bold;
    font-family: Arial,sans-serif;;
}
.import-contact-text{
    position: relative;
    top: -18px;
    left: 18%;
    font-family: Arial,sans-serif;
    font-size: 80%;
    color: gray;
}
.connect-another a:link{ 
    text-decoration: none;
    color: #1DA1F2;
}


.about-twitter{
     width: 80%;
    height: 50px;
    background-color: white;
    float: left;
    border: 1px solid #E1E8ED;
    border-top-left-radius: 5px 5px;
    border-top-right-radius: 5px 5px;
    padding: 15px 5%;
    margin-top: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 75%;
    text-align: justify;
    color: #969CBC;
}
.about-twitter a:link{
    color: #969CBC;
    text-decoration: none;
    padding: 2px 2px; 
}
.advertise-box{
    width: 80%;
    height: 20px;
    background-color: #F5F8FA;
    float: left;
    border: 1px solid #E1E8ED;
    border-bottom-left-radius: 5px 5px;
    border-bottom-right-radius: 5px 5px;
    padding: 10px 5%;
}
.advertise-box a{
    color: #1DA1F2;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 80%;
}
